In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [13]:
# 使用默认index
x1 = Series([1,2,3,4])
print(x1)
print(x1.index)
print(x1.values)

0    1
1    2
2    3
3    4
dtype: int64
RangeIndex(start=0, stop=4, step=1)
[1 2 3 4]

In [15]:
# 使用指定index
x2 = Series(index=['a','b','c','d'], data=[1,2,3,4])
print(x2)
print(x2.index)
print(x2.values)

a    1
b    2
c    3
d    4
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')
[1 2 3 4]

In [16]:
# 使用字典
d = {'a':1, 'b':2, 'c':3}
x3 = Series(d)
print(x3)

a    1
b    2
c    3
dtype: int64

In [65]:
data = {'Chinese':[1,2,3,4,5], 'Math':[6,7,8,9,10], 'English':[11,12,13,14,15]}
df1 = DataFrame(data)
print(df1)

   Chinese  Math  English
0        1     6       11
1        2     7       12
2        3     8       13
3        4     9       14
4        5    10       15

In [21]:
df2 = DataFrame(data, index=['A', 'B', 'C', 'D', 'E'], columns=['English', 'Chinese', 'Math'])
print(df2)

   English  Chinese  Math
A       11        1     6
B       12        2     7
C       13        3     8
D       14        4     9
E       15        5    10

In [ ]:
# 读取和保存xlsx格式
score = DataFrame(pd.read_excel('data.xlsx'))
score.to_excel('data1.xlsx')
print(score)

## 数据清洗

In [23]:
df = DataFrame(data, index=['A', 'B', 'C', 'D', 'E'], columns=['English', 'Chinese', 'Math'])
print(df)

# 删除行和列
df = df.drop(index=['C', 'E'], columns=['English'])
print(df)

   English  Chinese  Math
A       11        1     6
B       12        2     7
C       13        3     8
D       14        4     9
E       15        5    10
   Chinese  Math
A        1     6
B        2     7
D        4     9

In [27]:
df = DataFrame(data, index=['A', 'B', 'C', 'D', 'E'], columns=['Chinese', 'Math', 'English'])
print(df)

# 重命名行名和列名
df.rename(index={'A':'a', 'E':'e'}, columns={'Chinese':'Yu Wen', 'Math':'Shu Xue'}, inplace=True)
print(df)

   Chinese  Math  English
A        1     6       11
B        2     7       12
C        3     8       13
D        4     9       14
E        5    10       15
   Yu Wen  Shu Xue  English
a       1        6       11
B       2        7       12
C       3        8       13
D       4        9       14
e       5       10       15

In [30]:
data1 = {'a':[1,1,1], 'b':[1,1,1], 'c':[1,1,1]}
df = DataFrame(data1)
print(df)
# 去重复的值

df = df.drop_duplicates()
print(df)

   a  b  c
0  1  1  1
1  1  1  1
2  1  1  1
   a  b  c
0  1  1  1

In [46]:
import numpy as np

df = DataFrame(data, index=['A', 'B', 'C', 'D', 'E'], columns=['Chinese', 'Math', 'English'])
print(df)

# 格式转换
df['Chinese'] = df['Chinese'].astype('str')
df['Math'] = df['Math'].astype(np.int64)
print(df)
print(df['Chinese'])

   Chinese  Math  English
A        1     6       11
B        2     7       12
C        3     8       13
D        4     9       14
E        5    10       15
  Chinese  Math  English
A       1     6       11
B       2     7       12
C       3     8       13
D       4     9       14
E       5    10       15
A    1
B    2
C    3
D    4
E    5
Name: Chinese, dtype: object

In [61]:
data1 = {'Chinese':[' test ', '    test', 'test    ', '    test   ', 'test'], 'Math':[6,7,8,9,10], 'English':[11,12,13,14,15]}
df = DataFrame(data1, index=['A', 'B', 'C', 'D', 'E'], columns=['Chinese', 'Math', 'English'])
print(df)

# 删除左右两边空格
df['Chinese']=df['Chinese'].map(str.strip)
# 删除左边空格
df['Chinese']=df['Chinese'].map(str.lstrip)
# 删除右边空格
df['Chinese']=df['Chinese'].map(str.rstrip)

print(df)

       Chinese  Math  English
A        test      6       11
B         test     7       12
C     test         8       13
D      test        9       14
E         test    10       15
  Chinese  Math  English
A    test     6       11
B    test     7       12
C    test     8       13
D    test     9       14
E    test    10       15

In [59]:
# 删除字符
df['Chinese']=df['Chinese'].str.strip('et')
print(df)

  Chinese  Math  English
A       s     6       11
B       s     7       12
C       s     8       13
D       s     9       14
E       s    10       15

In [68]:
df = DataFrame(data, index=['A', 'B', 'C', 'D', 'E'], columns=['Chinese', 'Math', 'English'])
print(df)

df.columns = df.columns.str.upper()
print(df)

df.columns = df.columns.str.lower()
print(df)

df.columns = df.columns.str.title()
print(df)

   Chinese  Math  English
A        1     6       11
B        2     7       12
C        3     8       13
D        4     9       14
E        5    10       15
   CHINESE  MATH  ENGLISH
A        1     6       11
B        2     7       12
C        3     8       13
D        4     9       14
E        5    10       15
   chinese  math  english
A        1     6       11
B        2     7       12
C        3     8       13
D        4     9       14
E        5    10       15
   Chinese  Math  English
A        1     6       11
B        2     7       12
C        3     8       13
D        4     9       14
E        5    10       15

In [76]:
# 判断NaN值
data1 = {'Chinese':[np.nan,2], 'Math':[3,4]}
df = DataFrame(data1)
print(df)

# 哪个值存在空值
print(df.isnull())

# 哪列存在空值
print(df.isnull().any())

   Chinese  Math
0      NaN     3
1      2.0     4
   Chinese   Math
0     True  False
1    False  False
Chinese     True
Math       False
dtype: bool

In [86]:
data1 = {'Chinese':[1,2], 'Math':[3,4]}
df = DataFrame(data1)
print(df)

def total(df):
    return df['Chinese'] + df['Math']

print(df.apply(total, axis=1))

def double_df(x):
    return 2*x
df['Chinese'] = df['Chinese'].apply(double_df)
print(df)


data1 = {'语文':[1,2], '英语':[3,4]}
df1 = DataFrame(data1)
print(df)
def plus(df,n,m):
    df['new1'] = (df['语文']+df['英语']) * m
    df['new2'] = (df['语文']+df['英语']) * n
    return df
df1 = df1.apply(plus,axis=1,args=(2,3,))
print(df1)

   Chinese  Math
0        1     3
1        2     4
0    4
1    6
dtype: int64
   Chinese  Math
0        2     3
1        4     4
   Chinese  Math
0        2     3
1        4     4
   语文  英语  new1  new2
0   1   3    12     8
1   2   4    18    12

In [98]:
df = DataFrame(data)
print(df)
print('\ncount: \n', df.count())
print('\ndescribe: \n', df.describe())
print('\nidxmax: \n', df.idxmax())

   Chinese  Math  English
0        1     6       11
1        2     7       12
2        3     8       13
3        4     9       14
4        5    10       15

count:
 Chinese    5
Math       5
English    5
dtype: int64

describe:
         Chinese       Math    English
count  5.000000   5.000000   5.000000
mean   3.000000   8.000000  13.000000
std    1.581139   1.581139   1.581139
min    1.000000   6.000000  11.000000
25%    2.000000   7.000000  12.000000
50%    3.000000   8.000000  13.000000
75%    4.000000   9.000000  14.000000
max    5.000000  10.000000  15.000000

idxmax:
 Chinese    4
Math       4
English    4
dtype: int64

## 数据合并

In [100]:
# inner 内连接，默认连接　求交集
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
df2 = DataFrame({'name':['ZhangFei', 'GuanYu', 'A', 'B', 'C'], 'data2':range(5)})
df3 = pd.merge(df1, df2, on='name')
print(df3)

df3 = pd.merge(df1, df2, how='inner')
print(df3)

       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1
       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1

In [101]:
# left 左连接
df3 = pd.merge(df1, df2, how='left')
print(df3)

       name  data1  data2
0  ZhangFei      0    0.0
1    GuanYu      1    1.0
2         a      2    NaN
3         b      3    NaN
4         c      4    NaN

In [102]:
# right 右连接
df3 = pd.merge(df1, df2, how='right')
print(df3)

       name  data1  data2
0  ZhangFei    0.0      0
1    GuanYu    1.0      1
2         A    NaN      2
3         B    NaN      3
4         C    NaN      4

In [103]:
# outer 外连接　求并集
df3 = pd.merge(df1, df2, how='outer')
print(df3)

       name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
5         A    NaN    2.0
6         B    NaN    3.0
7         C    NaN    4.0

In [104]:
#SQL
import pandas as pd
from pandas import DataFrame
from pandasql import sqldf, load_meat, load_births
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'], 'data1':range(5)})
pysqldf = lambda sql: sqldf(sql, globals())
sql = "select * from df1 where name ='ZhangFei'"
print(pysqldf(sql))

       name  data1
0  ZhangFei      0